Django==5.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==24.3
pillow==10.4.0
gunicorn
psycopg2-binary
dj-database-url
python-dotenv

# Google Login
django-allauth==0.61.1
dj-rest-auth==5.0.2
google-auth

# Pagos
stripe==9.8.0

# Static en producción
whitenoise
